version: '3.9'

services:
  resume_manager:
    build: .
    container_name: resume_manager_django
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    environment:
      - DEBUG=False
    # Uncomment if you use database outside Docker
    # depends_on:
    #   - db

volumes:
  static_volume:
  media_volume: